* {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
.contenedor__calculadora {
    display: flexbox;
    justify-content: center;
    max-width: 100%;
    margin-top: -20px;
    padding-bottom: 30px;
}

/* HEADER */
.contenedor__calculadora--head {
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
}


.title__theme {
    display: inline;
    margin-top: 2rem;
    
    font-weight: bolder;
}
.theme__opt {
    display: flex;
    
}


.theme__opt div{
    margin: 8px;
}

/* SCREEN */

.contenedor__calculadora--screen {
    display: flex;
    border-radius: 3%;
    margin: auto;
    max-width: 375px;
    margin-bottom: 25px;
    justify-content: end;
    height: 90px;
}

.screen--result {
    font-weight: bolder;
    font-size: 45px;
    margin: 25px;
}

/* KEYPAD */

.contenedor__calculadora--buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 30px;
    padding: 25px;
    padding-left: 35px;
    border-radius: 3%;
    justify-content: center;
    margin-bottom: 40px;
    max-width: 375px;
    margin: auto;
}

.boton {
    height: 62px;
    width: 62px;
    border-radius: 10%;
    margin-bottom: 10px;
    margin-right: 10px;
    border: none;
}

.boton-reset {
    height: 62px;
    width: 135px;
    grid-column: 1/3;
    border-radius: 5%;
    font-size: 20px;
    border: none;
}

.boton-eliminar {
    height: 62px;
    width: 62px;
    border-radius: 10%;
    font-size: 20px;
    border: none;
}


.boton-calcular {
    grid-column: 3/5;
    width: 135px;
    border-radius: 5%;
    font-size: 20px;
    border: none;
}

.contenedor_tema {
    display: flex;
    width: 400px;
    transition: 0.5s ease;
    justify-content: center;
    padding: 0px 30px 0px 30px;
}

.cambiar--tema {
    display: flex;
    width: 100px;
}

.theme__opt {
      width: 100%;
        position: absolute;
        margin-left: 10px;
       
}
.theme__opt span{
    margin: 5px 15px 0px 0px;
    font-size: 15px;
    height: 3em;
}

.btn__theme {
    display: flex;
    margin-right: 10px;
    border-radius: 30px;
    width: 70px;
    margin-top: 27px;
    transition: all 1s ease;
}

.switch-button {
    width: 15px;
    height: 15px;
    margin: 0.3em;
    border-radius: 100%;
}



/* For desktop screen */

@media screen and (min-width: 376px) and (max-width: 1880px ){
    .boton {
        width: 75px;
        height: 50px;
    }
    
    .boton-calcular {
        height: 50px;
        width: 160px;
    }

    .boton-reset {
        height: 50px;
        width: 160px;
    }

    .boton-eliminar {
        width: 75px;
        height: 50px;
    }
}
